/* postsComponent's private CSS styles */
.list {
  float: left;
  width: 33.33%;
}
.posts {
  margin: 0 2em 2em 0;
  list-style-type: none;
  padding: 0;
  /* width: 15em; */
}
.posts li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .1em;
  padding: .3em 0;
  min-height: 1.6em;
  border-radius: 4px;
}
.posts li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.posts li.selected {
  background-color: #CFD8DC;
  color: white;
}
.posts li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.posts .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.5em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.0em;
  margin-right: .8em;
  border-radius: 4px 4px 4px 4px;
}
.posts a {
  height: 100%;
  width: 100%;
  color: inherit;
  text-decoration: none;
}

.button {
  transition-duration: 0.4s;
  border: 0.5px solid black;
  padding: .5em;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

.button:hover {
  background-color: #405061;
  color: white;
}