<!DOCTYPE html>
<html>
  <head>
    <title>Blog Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <%- title %>
  </p>- Created: <%- created %> , Modified: <%- modified %><p>
    </div>
    <div id="body">
      <%- body %>
    </div>
  </body>

</html>
